parameters:
  level: 8
  paths:
    - src
    - tests/Import/EloquentImportMarkerTraitTest.php
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - identifier: missingType.iterableValue
